.table-view .column-header {
    -fx-background-color: white;
}

.table-view .table-row-cell:empty{
    -fx-background-color: white;
    -fx-table-cell-border-color:white;
}

.table-view .table-row-cell{
    -fx-background-color: white;
    -fx-table-cell-border-color:white;
}


.table-view * .increment-button,
.table-view * .decrement-button,
.table-view * .increment-arrow,
.table-view * .decrement-arrow{
    -fx-padding:0;
    -fx-shape:"";
}



